<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">About Us</h1>

		<body bgcolor="lightgrey">
      
				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>


<a href="fongsukdien.html">About Us</a>
		</body>

	</font>
</center>
</html>
