<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
	<script>
		function confirmSubmit() {
			  var confirmed = window.confirm("Are you sure you want to delete this record?");
			  if (confirmed) {
			    return true;
			  } 
			  else {
			    return false;
			  }
		}
	</script>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form>
				<div>

			  		Employee ID: {{ out_id }} <br><br>

			  		First Name: {{ out_fname }} <br><br>

			  		Last Name: {{ out_lname }} <br><br>

			  		Primary Interest: {{ out_interest }} <br><br>

			  		Location: {{ out_location }} <br><br>
					
			  		Salary: {{ out_salary }} <br><br>
					
					Overtime Hour(s): {{ out_othours }} <br><br>
					
					Payroll: {{ out_payroll }} <br><br>
					
					Date: {{ out_date }} <br><br>
					
			  		Image URL: <br> 
					<div style="margin: auto">
    						<img src="{{image_url}}" width="200px" height="200px" alt="Image Not Found">
					</div>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="/getemp">RESET</button><br>
					
			  	</div>
			</form>
			<form onsubmit="return confirmSubmit()" action="/delete" method = "POST">
				<input type="hidden" name="emp_id" value="{{ out_id }}">
				<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Delete Record</button><br>
			</form>
			<form action="/fetchup" method = "POST">
				<input type="hidden" name="emp_id" value="{{ out_id }}">
				<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Update Record</button>
			</form>
		</body>

	</font>
</center>
</html>
