<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">About Us</h1>

		<body bgcolor="lightgrey">
		<form>
			<button type="submit" formaction="/addhome" style="background: grey; height: 100px; width: 200px; color:white; font:oblique; margin:20px;">INSERT NEW EMPLOYEE</button><br><br>
      			<button type="submit" formaction="/getemp" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;margin:20px;">GET EMPLOYEE INFORMATION</button><br><br>
      			<button type="submit" formaction="/updateemp" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;margin:20px;">UPDATE EXISTING EMPLOYEE</button><br><br>
			<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="/summary">EMPLOYEE SUMMARY</button><br><br>
			<h3 style="color: DodgerBlue; font-weight: 200px; font-size:2em; font:oblique;margin:20px;">ABOUT US</h3>
      			<button type="submit" formaction="/fsd" style="background: grey; height: 100px; width: 200px; color:white; font:oblique; margin:20px;">FONG SUK DIEN</button><br><br>
      			<button type="submit" formaction="/fmw" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;margin:20px;">FOO MENG WEN</button><br><br>
      			<button type="submit" formaction="/ethan" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;margin:20px;">ETHAN LIM LIANG HUI</button><br><br>
		</form>
		</body>

	</font>
</center>
</html>
